.DS_Store
src/lib/
src/Buggy_Context_Abstraction/abstraction/target/
__pycache__/
src/Defects4J_experiment/Defects4J_project/*
src/Defects4J_experiment/Defects4J_patches/*
src/Defects4J_experiment/slurm_jobs/*
results/NPR_tune/logs/*
results/NPR_tune/models/*
results/NPR_test/*
*.pt
*.out
