.DS_Store
src/lib/
src/Buggy_Context_Abstraction/abstraction/target/
__pycache__/
src/Defects4J_experiment/Defects4J_project/*
src/Defects4J_experiment/Defects4J_patches/*
src/Defects4J_experiment/slurm_jobs/*
*.pt
